@tailwind base;
@tailwind components;
@tailwind utilities;

.styled-checkbox {
  /* Hide the default checkbox */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid #d9d9d9;
  border-radius: 9999px; /* border color of checkbox */
  background-color: #22223b; /* background color of checkbox */
  border-radius: 4px; /* rounded corners */
  outline: none; /* remove focus outline */
  cursor: pointer; /* show pointer cursor on hover */

  /* Position the checkmark */
  position: relative;
}

.styled-checkbox:checked {
  /* Change the background color when checked */
  background-color: #22223b;
}

/* Style the checkmark */
.styled-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.6rem;
  height: 1rem;
  border-left: 2px solid #d9d9d9; /* color of the checkmark */
  border-bottom: 2px solid #d9d9d9; /* color of the checkmark */
  transform-origin: bottom left;
  opacity: 0; /* hide the checkmark by default */
}

.styled-checkbox:checked::before {
  /* Show the checkmark when checkbox is checked */
  opacity: 1;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 15px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  @apply bg-gray-200; /* Apply Tailwind background color */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded; /* Apply Tailwind background color and rounded corners */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-700; /* Apply Tailwind background color on hover */
}

/* For Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #b0b0e4 #303064; /* Thumb color and track color */
}

html::-webkit-scrollbar {
  width: 16px; /* Change this value to make the scrollbar thicker */
  height: 16px; /* For horizontal scrollbar */
}

html::-webkit-scrollbar-track {
  @apply bg-gray-200; /* Apply Tailwind background color */
}

html::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded; /* Apply Tailwind background color and rounded corners */
}

html::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-200; /* Apply Tailwind background color on hover */
}

/* Custom scrollbar styles for Firefox */
html {
  scrollbar-width: auto; /* Can be 'auto', 'thin', or a specific size */
  scrollbar-color: #c9c9d3 #303064; /* Thumb color and track color */
}
